* {
  box-sizing: border-box;
  text-decoration: none;
  margin: 0;
  padding: 0;
  ::selection {
    background: #1f5367c5;
    color: $white-color;
  }
  &:focus {
    outline: none !important;
  }
}

input,
button,
a,
textarea {
  &:focus,
  &:active {
    outline: none !important;
    box-shadow: none !important;
  }
}

body {
  font-family: $theme-font;
  font-weight: $regular-bold;
  color: $black-color;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
  color: $black-color;
  transition: $transition;
}
.btn {
  border-radius: $radius;
}
.btn-orange {
  transition: $transition;
  background: $orange-color;
  color: $white-color;
  &:hover {
    background: $orange-color;
    @include boxShadow($blur: 11px, $color: $orange-color);
    color: $white-color;
  }
}
.btn-white {
  transition: $transition;
  background: $white-color;
  color: $orange-color;
  &:hover {
    background: #b94a00;
    color: $white-color;
  }
}

.section-title {
  @include flex($jc: space-between);
  a {
    display: none;
    @include mq() {
      display: block;
    }
  }
}
.theme-title {
  font-weight: $black-bold;
  font-size: $big-size;
  @include lineHeight($big-size);
  @include mq("desktop") {
    @include lineHeight($bigger-size);
    font-size: $bigger-size;
  }
  span {
    font-weight: $medium-bold;
  }
}

.page-banner {
  position: relative;
  background: no-repeat center/cover;
  width: 100%;
  height: 330px;
  @include flex();
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(72, 101, 230, 0.445);
    z-index: $z-index-1;
  }
  h1 {
    position: relative;
    z-index: $z-index-50;
    font-weight: $extra-bold;
    color: $white-color;
    text-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    text-align: center;
    font-size: $page-title;
    @include lineHeight($page-title);
    @include mq() {
      text-align: left;
      font-size: 100px;
      @include lineHeight(100px);
    }
  }
}

.breadcrumb {
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
  z-index: $z-index-50;
}

.main-content {
  border-radius: $radius;
  background: $light-gray-color;
  padding: 30px;

  .description {
    font-size: $smaller-size;
    @include lineHeight($smaller-size);
  }
  .form-control {
    background: $white-color;
    letter-spacing: 1.1px;
    &:hover,
    &:focus {
      border-color: $dark-gray-color;
    }
  }
}

.subtitle {
  font-weight: $medium-bold;
  @include lineHeight($big-size);
  font-size: $big-size;
}

.text-muted {
  color: $dark-gray-color !important;
}

/* Float Label */
.floating-form {
  position: relative;
  .form-control {
    background: transparent;
    position: relative;
    z-index: $z-index-50;
    font-size: $medium-bold;
    &:focus,
    &:active,
    &:valid {
      & + label {
        transform: translateY(-40%);
        top: -2px !important;
        z-index: $z-index-100;
        font-size: $smallest-size;
      }
    }
  }
  label {
    position: absolute;
    top: 50%;
    /* bootstrap > input > padding size */
    left: 0.75rem;
    z-index: $z-index-1;
    font-size: $smaller-size;
    transform: translateY(-50%);
    transition: $transition;
    background: #fff;
    color: $dark-gray-color;
  }
  textarea + label {
    top: 1.275rem;
  }
}