* {
  box-sizing: border-box;
  text-decoration: none;
  margin: 0;
  padding: 0;
  ::selection {
    background: #1f5367c5;
    color: $white-color;
  }
  &:focus {
    outline: none !important;
  }
}

input,
button,
a {
  &:focus,
  &:active {
    outline: none !important;
    box-shadow: none !important;
  }
}

body {
  font-family: $theme-font;
  font-weight: $regular-bold;
  letter-spacing: 0.03em;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
  color: $black-color;
  transition: $transition;
}
.btn {
  border-radius: $radius;
}
.btn-orange {
  transition: $transition;
  background: $orange-color;
  color: $white-color;
  &:hover {
    background: #b94a00;
    color: $white-color;
  }
}
.btn-white {
  transition: $transition;
  background: $white-color;
  color: $orange-color;
  &:hover {
    background: #b94a00;
    color: $white-color;
  }
}

.section-title {
  @include flex($jc: space-between);
  a {
    display: none;
    @include mq() {
      display: block;
    }
  }
}
.theme-title {
  font-weight: $black-bold;
  font-size: $big-size;
  @include lineHeight($big-size);
  @include mq("desktop") {
    @include lineHeight($bigger-size);
    font-size: $bigger-size;
  }
  span {
    font-weight: $medium-bold;
  }
}
